* {
	font-size: 12px;
	margin: 2px 0 2px 0;
	font-family: "Autour One", Arial !important;
}

@font-face {
	font-family: 'Autour One';
	src: url("../fonts/FingerPaint-Regular.ttf");
}

.space {
	display: inline-block;
	vertical-align: top;
}

.enter {
	clear:both;
}

/*	Barra de Menu	*/
.ui-menu {
	width: 150px;
}

.barraMenu {
	width: 160px;
}
